In [1]:
import pandas as pd
from bokeh.plotting import figure, show

In [2]:
sim_charges_df = pd.read_csv("sim_booking_requests_test_bre.csv")

In [3]:
sim_charges_df

,Unnamed: 0,ia_timeout,start_time,date,weekday,daytype,hour,origin_id,destination_id,euclidean_distance,...,tanktowheel_emissions,co2_emissions,start_soc,plate,end_soc,n_vehicles_charging_system,n_vehicles_charging_users,n_vehicles_available,n_vehicles_booked,n_vehicles_dead
0,0,39.929321,2017-10-01 00:00:00+00:00,2017-10-01,6,weekend,0,1673,994,2963.575697,...,NaN,NaN,NaN,NaN,NaN,0,0,414,0,0
1,1,169.696987,2017-10-01 00:00:39.929321+00:00,2017-10-01,6,weekend,0,1087,312,3438.460396,...,0.0,309.423210,94.000000,93.0,90.209476,0,0,414,0,0
2,2,134.937149,2017-10-01 00:03:29.626308+00:00,2017-10-01,6,weekend,0,1001,517,2201.485343,...,NaN,NaN,NaN,NaN,NaN,0,0,413,1,0
3,3,37.203678,2017-10-01 00:05:44.563457+00:00,2017-10-01,6,weekend,0,1183,1960,3438.145921,...,0.0,309.394911,93.000000,67.0,89.209823,0,0,413,1,0
4,4,9.106070,2017-10-01 00:06:21.767134+00:00,2017-10-01,6,weekend,0,506,317,3113.949516,...,NaN,NaN,NaN,NaN,NaN,0,0,412,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61734,61734,30.949735,2017-10-31 23:57:15.140422+00:00,2017-10-31,1,weekday,23,904,806,733.928853,...,0.0,66.045438,89.670018,260.0,88.860943,14,0,389,11,0
61735,61735,18.558531,2017-10-31 23:57:46.090158+00:00,2017-10-31,1,weekday,23,991,1960,4274.506697,...,0.0,384.658083,86.187928,117.0,NaN,13,0,390,11,0
61736,61736,0.407510,2017-10-31 23:58:04.648689+00:00,2017-10-31,1,weekday,23,1184,1282,733.698621,...,0.0,66.024719,96.764560,80.0,95.955738,13,0,389,12,0
61737,61737,33.412565,2017-10-31 23:58:05.056199+00:00,2017-10-31,1,weekday,23,1385,1285,1847.163937,...,0.0,166.224219,74.847753,367.0,NaN,13,0,388,13,0
61738,61738,79.153184,2017-10-31 23:58:38.468764+00:00,2017-10-31,1,weekday,23,1286,996,1404.568089,...,0.0,126.395513,41.854910,248.0,NaN,13,0,391,10,0

In [4]:
type(sim_charges_df["date"])

pandas.core.series.Series

In [5]:
#p = figure(x_axis_type="datetime",title="Simple line example", x_axis_label="x", y_axis_label="y")

In [6]:
#p.line(gigi.index, gigi.n_vehicles_available, legend_label="Temp.", line_width=2)
#show(p)

In [7]:
import numpy as np

from bokeh.io import show
from bokeh.layouts import column
from bokeh.models import ColumnDataSource, RangeTool
from bokeh.plotting import figure
from bokeh.sampledata.stocks import AAPL

In [10]:
#dates = np.array(AAPL['date'], dtype=np.datetime64)

#source = ColumnDataSource(data=dict(date=dates, close=AAPL['adj_close']))
dates = np.array(sim_charges_df["start_time"],dtype=np.datetime64)
source = ColumnDataSource(data=dict(date=np.array(sim_charges_df["start_time"],dtype=np.datetime64), close=list(sim_charges_df["n_vehicles_available"])))

p = figure(plot_height=300, plot_width=800, tools="xpan", toolbar_location=None,
           x_axis_type="datetime", x_axis_location="above",
           background_fill_color="#efefef", x_range=(dates[1500], dates[2500]))

p.line('date', 'close', source=source)
p.yaxis.axis_label = 'Number Vehicles Available'

select = figure(title="Drag the middle and edges of the selection box to change the range above",
                plot_height=130, plot_width=800, y_range=p.y_range,
                x_axis_type="datetime", y_axis_type=None,
                tools="", toolbar_location=None, background_fill_color="#efefef")

range_tool = RangeTool(x_range=p.x_range)
range_tool.overlay.fill_color = "navy"
range_tool.overlay.fill_alpha = 0.2

select.line('date', 'close', source=source)
select.ygrid.grid_line_color = None
select.add_tools(range_tool)
select.toolbar.active_multi = range_tool

show(column(p, select))